body{
	margin: 0;
	background-color: #c96567;
	font-family: sans-serif;
}

header{
	text-align: center;
}

main{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

header h1{
	color: whitesmoke;
}

main h2{
	color: #314455;
}

footer{
	text-align: center;
}